/* Add application styles & imports to this file! */

@use "sass:map";

$kendo-is-dark-theme: false;
@import "@progress/kendo-theme-default/dist/all";

$kendo-colors: map.merge($kendo-colors, k-generate-color-variations('primary', #2D73F5, 'default'));

tr:nth-child(1) {
  color: map-get($kendo-colors, primary-subtle);
}
tr:nth-child(2) {
  color: map-get($kendo-colors, primary-subtle-hover);
}
tr:nth-child(3) {
  color: map-get($kendo-colors, primary-subtle-active);
}
tr:nth-child(4) {
  color: map-get($kendo-colors, primary);
}
tr:nth-child(5) {
  color: map-get($kendo-colors, primary-hover);
}
tr:nth-child(6) {
  color: map-get($kendo-colors, primary-active);
}
tr:nth-child(7) {
  color: map-get($kendo-colors, primary-emphasis);
}
tr:nth-child(8) {
  color: map-get($kendo-colors, primary-on-subtle);
}
tr:nth-child(9) {
  color: map-get($kendo-colors, on-primary);
}
tr:nth-child(10) {
  color: map-get($kendo-colors, primary-on-surface);
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    font-weight: bold;
    font-size: 20px;
  }
  
  th, td {
    width: 200px
  }
  
  th:nth-child(3) {
    width: 500px;
  }
  
  td:nth-child(3) {
    width: 500px;
  }
  
